#contenant {
    font-family: Roboto Slab;
    padding: 0;
    margin: 0;
    color: white;
    position: center;
    background: url('../img/lion-image_01582298_22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh;
  }

  .logo {
  color: #ffffff;
  padding-top: 8px;
  padding-left: 75px;
  font-size: 25px;
  line-height: 18px;
}

.logo a {
  color: #ffffff;
  padding-left: 75px;
  font-size: 25px;
  line-height: 18px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navigation {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 45px;
    text-align: center;
    padding-top: 0px;
    padding-right: 75px;
    z-index: 1;
    /* SHADOW */
    -webkit-box-shadow: 0px 0px 2px 0px   #000000;
    -moz-box-shadow: 0px 0px 2px 0px       #000000;
    box-shadow: 0px 0px 2px 0px #000000;
    /* TRANSPARENCY */
    background-color: rgba(1, 1, 1,       0.7);
    color: rgba(1, 1, 1, 0.7);
  }

  .navigation a {
  font-size: 16px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.navigation ul
{
    margin-top: 12px;
}

.navigation ul li
{
    list-style-type: none;
    display: inline;
}

.navigation li:before {
  content: " | ";
  color: #fff;
}



.navigation li a:hover {
  color: #CCCCCC;
  font-weight: 600;
}
